Repository alakaganaguathoork/local-business-open-api-project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml, azure-pipelines/eks.yml, azure-pipelines/terraform-provisioning.yml

azure-pipelines/azure-webapp.yml:
  name: appDeploy-$(Date:yyyy-MM-dd)$(Rev:.r)
  pool:
    name: Local
  stages:
  - stage: GatherInfo
    displayName: Gather apps info
    variables:
    - group: Main
    jobs:
    - job: GetAppDataJob
      displayName: Get apps data
      steps:
      - task: AzureCLI@2
        name: GetAppDataTask
  ...

azure-pipelines/build-dockerfile.yml:
  name: dockerBuild-$(Date:yyyy-MM-dd)$(Rev:.r)
  pool:
    name: Local
  stages:
  - stage: DockerImageBuildAndPush
    displayName: Build and push Docker image
    jobs:
    - job: DockerBuildPush
      steps:
      - task: Docker@2
        name: DockerLogin
        displayName: Login to Docker Hub
        inputs:
  ...

azure-pipelines/eks.yml:
  name: eks-$(Date:yyyy-MM-dd)$(Rev:.r)
  pool:
    name: Local
  stages:
  - template: ./templates/aws/stages/install-aws.yml
    parameters:
      stageName: InstallAWSCLIv1
      installAWS: ${{ variables.installAWS }}
      awsCredentials: $(awsCredentials)
  - template: ./templates/aws/stages/delete-aws.yml
  ...

azure-pipelines/terraform-provisioning.yml:
  name: infra-$(Date:yyyy-MM-dd)$(Rev:.r)
  pool:
    name: Local
  stages:
  - stage: Terraform_infra
    displayName: Terraform infrastucture provisioning
    variables:
    - group: ARM_
    jobs:
    - job: Terraform_Provisioning
      displayName: Provision Terraform Infra
      steps:
  ...

Refactor azure devops pipelines templates
  azure-pipelines/templates/aws/stages/delete-aws.yml
  azure-pipelines/templates/aws/stages/install-aws.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor eks.yml workflow to trigger on a webhook from terraform cloud
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor eks.yml workflow to trigger on a webhook from terraform cloud
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Refactor eks.yml workflow to trigger on a webhook from terraform cloud
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/stages/install-aws.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor eks.yml workflow to trigger on a webhook from terraform cloud
  azure-pipelines/templates/aws/stages/install-aws.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Add 'connect to cluster' template to eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/stages/connec-to-eks.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Add 'connect to cluster' template to eks.yml workflow
  azure-pipelines/templates/aws/stages/connect-to-eks.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Add 'connect to cluster' template to eks.yml workflow
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Add 'Deploy to EKS' template to eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/stages/connect-to-eks.yml
  azure-pipelines/templates/kubernetes/stages/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Add 'Deploy to EKS' template to eks.yml workflow
  azure-pipelines/templates/kubernetes/stages/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml

Add 'Deploy to EKS' template to eks.yml workflow
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Add 'Deploy to EKS' template to eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/kubernetes/stages/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Add 'Deploy to EKS' template to eks.yml workflow
  azure-pipelines/templates/azure-devops/stages/prepare-env.yml
  azure-pipelines/templates/kubernetes/stages/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml

Add 'Deploy to EKS' template to eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/azure-devops/stages/install-kubectl.yml
  azure-pipelines/templates/kubernetes/stages/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Add 'Deploy to EKS' template to eks.yml workflow
  azure-pipelines/templates/azure-devops/stages/install-kubectl.yml
Due: azure-pipelines/azure-webapp.yml

Path conditions:
  azure-pipelines/azure-webapp.yml: any of: app, azure-pipelines/templates, azure-pipelines/azure-webapp.yml
  azure-pipelines/build-dockerfile.yml: any of: app, azure-pipelines/build-docker.yml
  azure-pipelines/eks.yml: any of: azure-pipelines/eks.yml, azure-pipelines/templates/aws/stages
  azure-pipelines/terraform-provisioning.yml: any of: terraform, azure-pipelines/terraform-provisioning.yml
