Repository alakaganaguathoork/local-business-open-api-project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml, azure-pipelines/eks.yml, azure-pipelines/terraform-provisioning.yml

Path conditions:
  azure-pipelines/azure-webapp.yml: any of: app, azure-pipelines/templates, azure-pipelines/azure-webapp.yml
  azure-pipelines/build-dockerfile.yml: any of: app, azure-pipelines/build-docker.yml
  azure-pipelines/eks.yml: any of: azure-pipelines/eks.yml, azure-pipelines/templates
  azure-pipelines/terraform-provisioning.yml: any of: terraform, azure-pipelines/terraform-provisioning.yml

Test app's Helm chart deploying in eks.yml workflow
  azure-pipelines/templates/kubernetes/helm/argocd.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Change Helm chart - lb internal to false
  kubernetes/helm/local-business/values.yaml
Due: none

Change Helm chart - lb internal to false
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Test app's Helm chart deploying in eks.yml workflow
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Test app's Helm chart deploying in eks.yml workflow
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Test manual service deployment
  azure-pipelines/service.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Test manual service deployment
  azure-pipelines/service.yml
Due: none

Test manual service deployment
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor kuberetes/helm dir to include charts and repo dirs
  kubernetes/helm/charts/local-business/.helmignore
  kubernetes/helm/charts/local-business/Chart.yaml
  kubernetes/helm/charts/local-business/NOTES.txt
  kubernetes/helm/charts/local-business/templates/_helpers.tpl
  kubernetes/helm/charts/local-business/templates/deployment.yaml
  kubernetes/helm/charts/local-business/templates/ingress.yaml
  kubernetes/helm/charts/local-business/templates/load-balancer.yml
  kubernetes/helm/charts/local-business/templates/namespace.yml
  kubernetes/helm/charts/local-business/templates/node-port.yaml
  kubernetes/helm/charts/local-business/values.yaml
  kubernetes/helm/repos/index.yaml
  kubernetes/helm/repos/local-business-0.1.0.tgz
Due: none

Refactor kuberetes/helm dir to include charts and repo dirs
  kubernetes/helm/repos/local-business/index.yaml
  kubernetes/helm/repos/local-business/local-business-0.1.0.tgz
Due: none

Refactor build-dockerfile.yml pipeline
  azure-pipelines/build-dockerfile.yml
Due: none

Add a user to Dockerfile
  Dockerfile
Due: none

Change docker-compose.yml and build-dockerfil.yml pipeline
  azure-pipelines/build-dockerfile.yml
  docker-compose.yml
Due: none

Refactor terraform AWS EKS project to support terraform cloud for runs
  terraform/aws/projects/eks-automode/main.tf
  terraform/aws/projects/eks-automode/outputs.tf
  terraform/aws/projects/eks/main.tf
  terraform/aws/projects/eks/variables.tf
  terraform/aws/projects/eks/versions.tf
Due: azure-pipelines/terraform-provisioning.yml

Add eks-automode.yml pipeline
  azure-pipelines/eks-automode.yml
Due: none

Add eks-automode.yml pipeline
  azure-pipelines/old/azure-webapp.yml
  azure-pipelines/old/check-aws-azure-devops-connection.yml
  azure-pipelines/old/terraform-provisioning.yml
Due: none

Add eks-automode.yml pipeline
  azure-pipelines/azure-webapp.yml
  azure-pipelines/check-aws-azure-devops-connection.yml
  azure-pipelines/eks-automode.yml
  azure-pipelines/terraform-provisioning.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/terraform-provisioning.yml

Add 'self' for sg rules to aws security groups custom module
  terraform/aws/modules/vpc/security-group/locals.tf
  terraform/aws/modules/vpc/security-group/main.tf
  terraform/aws/modules/vpc/security-group/variabales.tf
Due: azure-pipelines/terraform-provisioning.yml

Refactor terraform aws eks project to make it finally work (no success yet)
  terraform/aws/projects/eks/main.tf
  terraform/aws/projects/eks/roles.tf
  terraform/aws/projects/eks/security-groups.tf
  terraform/aws/projects/eks/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

test
  azure-pipelines/eks-automode.yml
Due: none

test
  azure-pipelines/eks-automode.yml
  azure-pipelines/templates/kubernetes/helm/argocd.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

test
  azure-pipelines/templates/kubernetes/helm/argocd.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Restore the old setup for eks-automode.yml pipeline
  azure-pipelines/eks-automode.yml
  azure-pipelines/eks.yml
  azure-pipelines/templates/kubernetes/helm/argocd.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Restore the old setup for eks-automode.yml pipeline
  azure-pipelines/eks-automode.yml
  azure-pipelines/templates/kubernetes/helm/argocd.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Restore the old setup for eks-automode.yml pipeline
  azure-pipelines/templates/kubernetes/helm/argocd.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Restore the old setup for eks-automode.yml pipeline
  azure-pipelines/templates/kubernetes/helm/argocd.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
  kubernetes/helm/application.yaml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Restore the old setup for eks-automode.yml pipeline
  azure-pipelines/templates/kubernetes/helm/argocd.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Restore the old setup for eks-automode.yml pipeline
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Restore the old setup for eks-automode.yml pipeline
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
  kubernetes/helm/application.yaml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml
