Repository alakaganaguathoork/local-business-open-api-project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml, azure-pipelines/terraform-provisioning.yml

Path conditions:
  azure-pipelines/azure-webapp.yml: any of: app, azure-pipelines/templates, azure-pipelines/azure-webapp.yml
  azure-pipelines/build-dockerfile.yml: any of: app, azure-pipelines/build-docker.yml
  azure-pipelines/terraform-provisioning.yml: any of: terraform, azure-pipelines/terraform-provisioning.yml

changes for templates #45
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #46
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #47
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #48
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #49
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #50
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #51
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #52
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #53
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #54
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #55
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #56
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #57
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #58
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #59
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #60
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #61
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #62
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #63
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #64
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #65
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #66
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #67
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #68
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #69
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #70
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

changes for templates #71
  azure-pipelines/azure-webapp.yml
Due: azure-pipelines/azure-webapp.yml

non-working changes to azure pipelines
  azure-pipelines/azure-webapp.yml
  terraform/azure-app-service/main.tf
  terraform/azure-app-service/modules/app-service-module/outputs.tf
  terraform/azure-app-service/output.tf
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/terraform-provisioning.yml

added '/metrics' endpoint
  app/app.py
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml

fix of Dockerfile path in the pipeline
  azure-pipelines/build-dockerfile.yml
Due: none

fix of Dockerfile path in the pipeline #2
  Dockerfile
  azure-pipelines/build-dockerfile.yml
Due: none

new endpoint 'metrics' path fix
  app/app.py
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml

new endpoint 'metrics' path fix #2
  app/app.py
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml

env changes for app
  Readme.md
  app/app.py
  app/rapidapi.py
  app/requirements.txt
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml

added flask debug env var to Dockerfile
  Dockerfile
Due: none

added flask debug env var to Dockerfile #2
  app/app.py
  azure-pipelines/build-dockerfile.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml

added flask debug env var to Dockerfile #3
  .gitignore
  docker-compose.yml
Due: none

added prometheus service
  docker-compose.yaml
  docker-compose.yml
  prometheus/prometheus.rules.yml
  prometheus/prometheus.yml
Due: none

added prometheus service
  prometheus/prometheus.rules.yml
Due: none
