Repository alakaganaguathoork/local-business-open-api-project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml, azure-pipelines/terraform-provisioning.yml

Path conditions:
  azure-pipelines/azure-webapp.yml: any of: app, azure-pipelines/templates, azure-pipelines/azure-webapp.yml
  azure-pipelines/build-dockerfile.yml: any of: app, azure-pipelines/build-docker.yml
  azure-pipelines/terraform-provisioning.yml: any of: terraform, azure-pipelines/terraform-provisioning.yml

prometheus setup
  app/app.py
  app/rapidapi.py
  app/requirements.txt
  docker-compose.yml
  k6/first-test.js
  prometheus/Notes.md
  prometheus/prometheus.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml

prometheus .gitignore changes
  .gitignore
Due: none

added node_exported service to docker compose
  docker-compose.yml
  prometheus/prometheus.yml
Due: none

added prometheus + nodeexporter + alertmanager
  .gitignore
  docker-compose.yml
  monitoring/alertmanager/Notes.md
  monitoring/alertmanager/alertmanager.yml
  monitoring/prometheus/Notes.md
  monitoring/prometheus/prometheus.rules.yml
  monitoring/prometheus/prometheus.yml
Due: none

fix for alertmanager env varibles
  .gitignore
  docker-compose.yml
  monitoring/alertmanager/Notes.md
  monitoring/alertmanager/alertmanager.template.yml
Due: none

cleanup
  prometheus/Notes.md
  prometheus/prometheus.rules.yml
  prometheus/prometheus.yml
Due: none

Dockerfile refactoring
  Dockerfile
Due: none

refactoring for monitoring
  .dockerignore
  .gitignore
  app/app.py
  app/local_business.py
  app/logger/__init__.py
  app/logger/app_logger.py
  app/monitor/__init__.py
  app/monitor/prometheus_monitoring.py
  app/rapidapi.py
  app/requirements.txt
  docker-compose.yml
  k6/first-test.js
  monitoring/alertmanager/alertmanager.template.yml
  monitoring/grafana/dashboards/main.json
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/prometheus/prometheus.rules.yml
  monitoring/prometheus/prometheus.yml
  monitoring/prometheus/queries/main.yml
  monitoring/prometheus/targets.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml

docker volumes tweaks
  docker-compose.yml
Due: none

added networking basic to terraform infra
  .gitignore
  terraform/azure-app-service/configurations.tf
  terraform/azure-app-service/main.tf
  terraform/azure-app-service/modules/app-service-module/main.tf
  terraform/azure-app-service/modules/app-service-module/variables.tf
  terraform/azure-app-service/modules/key-vault/main.tf
  terraform/azure-app-service/modules/key-vault/output.tf
  terraform/azure-app-service/modules/key-vault/variables.tf
  terraform/azure-app-service/modules/networking/vnet/main.tf
  terraform/azure-app-service/modules/networking/vnet/outputs.tf
  terraform/azure-app-service/modules/networking/vnet/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

vagrant setup changes
  vagrant/Vagrantfile-new
  vagrant/configs/docker/cri-docker.service
  vagrant/configs/docker/cri-docker.socket
  vagrant/nodes-shared-setup.sh
  vagrant/utils/required-packages.txt
Due: none

terraform refactoring for learning
  terraform/azure/environments/test/locals.tf
  terraform/azure/environments/test/main.tf
  terraform/azure/environments/test/outputs.tf
  terraform/azure/modules/app-service/locals.tf
  terraform/azure/modules/app-service/main.tf
  terraform/azure/modules/app-service/outputs.tf
  terraform/azure/modules/app-service/variables.tf
  terraform/azure/modules/networking/main.tf
Due: azure-pipelines/terraform-provisioning.yml

terraform refactoring for learning #2
  terraform/azure-app-service/configurations.tf
  terraform/azure-app-service/main.tf
  terraform/azure-app-service/modules/app-service-module/locals.tf
  terraform/azure-app-service/modules/app-service-module/main.tf
  terraform/azure-app-service/modules/app-service-module/outputs.tf
  terraform/azure-app-service/modules/app-service-module/variables.tf
  terraform/azure-app-service/output.tf
  terraform/azure-app-service/providers.tf
  terraform/azure-app-service/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

terraform setup for simple provisioning
  terraform/azure/environments/test/locals.tf
  terraform/azure/environments/test/main.tf
  terraform/azure/environments/test/outputs.tf
  terraform/azure/modules/app-service/main.tf
  terraform/azure/modules/networking/locals.tf
  terraform/azure/modules/networking/main.tf
  terraform/azure/modules/networking/outputs.tf
  terraform/azure/modules/networking/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

polishing refactored infra provisioning
  terraform/azure/environments/test/locals.tf
  terraform/azure/environments/test/main.tf
  terraform/azure/environments/test/outputs.tf
  terraform/azure/modules/app-service/locals.tf
  terraform/azure/modules/app-service/main.tf
  terraform/azure/modules/app-service/outputs.tf
  terraform/azure/modules/app-service/variables.tf
  terraform/azure/modules/networking/locals.tf
  terraform/azure/modules/networking/main.tf
  terraform/azure/modules/networking/outputs.tf
  terraform/azure/modules/networking/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

added Vagrantfile for one machine
  vagrant/old/.vagrant/bundler/global.sol
  vagrant/old/.vagrant/machines/jumpbox/virtualbox/creator_uid
  vagrant/old/.vagrant/machines/jumpbox/virtualbox/id
  vagrant/old/.vagrant/machines/jumpbox/virtualbox/index_uuid
  vagrant/old/.vagrant/machines/jumpbox/virtualbox/vagrant_cwd
  vagrant/old/.vagrant/rgloader/loader.rb
  vagrant/old/Vagrantfile
  vagrant/old/Vagrantfile-new
  vagrant/old/configs/docker/cri-docker.service
  vagrant/old/configs/docker/cri-docker.socket
  vagrant/old/k8s-control-plane-node-setup.sh
  vagrant/old/k8s-worker-node-setup.sh
  vagrant/old/nodes-shared-setup.sh
  vagrant/old/shared/scripts/join_command.sh
  vagrant/old/ubuntu-bionic-18.04-cloudimg-console.log
  vagrant/old/utils/required-packages.txt
  vagrant/one-machine/.vagrant/bundler/global.sol
  vagrant/one-machine/.vagrant/machines/default/virtualbox/vagrant_cwd
  vagrant/one-machine/.vagrant/machines/main/virtualbox/action_provision
  vagrant/one-machine/.vagrant/machines/main/virtualbox/action_set_name
  vagrant/one-machine/.vagrant/machines/main/virtualbox/box_meta
  vagrant/one-machine/.vagrant/machines/main/virtualbox/creator_uid
  vagrant/one-machine/.vagrant/machines/main/virtualbox/id
  vagrant/one-machine/.vagrant/machines/main/virtualbox/index_uuid
  vagrant/one-machine/.vagrant/machines/main/virtualbox/private_key
  vagrant/one-machine/.vagrant/machines/main/virtualbox/synced_folders
  vagrant/one-machine/.vagrant/machines/main/virtualbox/vagrant_cwd
  vagrant/one-machine/.vagrant/rgloader/loader.rb
  vagrant/one-machine/Vagrantfile
Due: none

progress with terraform infra provisioning including key vault and networking
  terraform/azure/environments/test/locals.tf
  terraform/azure/environments/test/main.tf
  terraform/azure/environments/test/outputs.tf
  terraform/azure/modules/app-service/main.tf
  terraform/azure/modules/app-service/variables.tf
  terraform/azure/modules/env-infra/main.tf
  terraform/azure/modules/env-infra/variables.tf
  terraform/azure/modules/key-vault/main.tf
  terraform/azure/modules/key-vault/outputs.tf
  terraform/azure/modules/key-vault/variables.tf
  terraform/azure/modules/networking/locals.tf
  terraform/azure/modules/networking/main.tf
  terraform/azure/modules/networking/outputs.tf
  terraform/azure/modules/networking/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

kevault refactoring in terraform
  terraform/azure/environments/test/locals.tf
  terraform/azure/environments/test/main.tf
  terraform/azure/environments/test/outputs.tf
  terraform/azure/modules/app-service/locals.tf
  terraform/azure/modules/app-service/main.tf
  terraform/azure/modules/app-service/variables.tf
  terraform/azure/modules/env-infra/main.tf
  terraform/azure/modules/env-infra/variables.tf
  terraform/azure/modules/key-vault/locals.tf
  terraform/azure/modules/key-vault/main.tf
  terraform/azure/modules/key-vault/variables.tf
  terraform/azure/modules/networking/locals.tf
  terraform/azure/modules/networking/main.tf
  terraform/azure/modules/networking/outputs.tf
  terraform/azure/modules/networking/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

terraform app-kv refactoring
  terraform/azure/environments/test/locals.tf
  terraform/azure/environments/test/main.tf
  terraform/azure/environments/test/outputs.tf
  terraform/azure/modules/app-kv/locals.tf
  terraform/azure/modules/app-kv/main.tf
  terraform/azure/modules/app-kv/outputs.tf
  terraform/azure/modules/app-kv/variables.tf
  terraform/azure/modules/app-service/locals.tf
  terraform/azure/modules/app-service/main.tf
  terraform/azure/modules/env-infra/main.tf
  terraform/azure/modules/env-infra/variables.tf
  terraform/azure/modules/key-vault/locals.tf
  terraform/azure/modules/key-vault/main.tf
  terraform/azure/modules/key-vault/variables.tf
  terraform/azure/modules/networking/dns/main.tf
  terraform/azure/modules/networking/dns/output.tf
  terraform/azure/modules/networking/dns/variables.tf
  terraform/azure/modules/networking/main.tf
  terraform/azure/modules/networking/outputs.tf
  terraform/azure/modules/networking/variables.tf
  terraform/azure/modules/networking/vnet/locals.tf
  terraform/azure/modules/networking/vnet/main.tf
  terraform/azure/modules/networking/vnet/outputs.tf
  terraform/azure/modules/networking/vnet/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

terraform ns-groups and dynamic subnets allocation changes
  terraform/azure/environments/test/locals.tf
  terraform/azure/environments/test/main.tf
  terraform/azure/environments/test/outputs.tf
  terraform/azure/modules/app-kv/locals.tf
  terraform/azure/modules/app-kv/main.tf
  terraform/azure/modules/app-kv/outputs.tf
  terraform/azure/modules/app-kv/variables.tf
  terraform/azure/modules/app-service/locals.tf
  terraform/azure/modules/app-service/main.tf
  terraform/azure/modules/app-service/outputs.tf
  terraform/azure/modules/app-service/variables.tf
  terraform/azure/modules/key-vault/locals.tf
  terraform/azure/modules/key-vault/main.tf
  terraform/azure/modules/key-vault/outputs.tf
  terraform/azure/modules/key-vault/variables.tf
  terraform/azure/modules/networking/dns/variables.tf
  terraform/azure/modules/networking/ns-groups/main.tf
  terraform/azure/modules/networking/ns-groups/outputs.tf
  terraform/azure/modules/networking/ns-groups/variables.tf
  terraform/azure/modules/networking/vnet/main.tf
  terraform/azure/modules/networking/vnet/outputs.tf
  terraform/azure/modules/networking/vnet/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

terraform dns module addition and nsg module changes
  terraform/azure/environments/test/locals.tf
  terraform/azure/environments/test/outputs.tf
  terraform/azure/modules/app-kv/main.tf
  terraform/azure/modules/app-kv/outputs.tf
  terraform/azure/modules/app-service/locals.tf
  terraform/azure/modules/app-service/outputs.tf
  terraform/azure/modules/app-service/variables.tf
  terraform/azure/modules/key-vault/main.tf
  terraform/azure/modules/key-vault/outputs.tf
  terraform/azure/modules/networking/dns/main.tf
  terraform/azure/modules/networking/dns/variables.tf
  terraform/azure/modules/networking/ns-groups/main.tf
  terraform/azure/modules/networking/ns-groups/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

refactoring for clean code
  terraform/azure/create-3-apps-with-kv/locals.tf
  terraform/azure/create-3-apps-with-kv/main.tf
  terraform/azure/create-3-apps-with-kv/outputs.tf
  terraform/azure/create-3-apps-with-kv/variables.tf
  terraform/azure/create-3-apps-with-kv/versions.tf
  terraform/azure/environments/test/locals.tf
  terraform/azure/environments/test/outputs.tf
  terraform/azure/modules/app-kv/locals.tf
  terraform/azure/modules/app-kv/main.tf
  terraform/azure/modules/app-kv/outputs.tf
  terraform/azure/modules/app-kv/variables.tf
  terraform/azure/modules/app-service/locals.tf
  terraform/azure/modules/app-service/main.tf
  terraform/azure/modules/app-service/outputs.tf
  terraform/azure/modules/app-service/variables.tf
  terraform/azure/modules/key-vault/access-policy/main.tf
  terraform/azure/modules/key-vault/access-policy/outputs.tf
  terraform/azure/modules/key-vault/access-policy/variables.tf
  terraform/azure/modules/key-vault/locals.tf
  terraform/azure/modules/key-vault/main.tf
  terraform/azure/modules/key-vault/outputs.tf
  terraform/azure/modules/key-vault/secrets/main.tf
  terraform/azure/modules/key-vault/secrets/variables.tf
  terraform/azure/modules/key-vault/variables.tf
  terraform/azure/modules/networking/dns/variables.tf
  terraform/azure/modules/networking/subnets/main.tf
  terraform/azure/modules/networking/subnets/outputs.tf
  terraform/azure/modules/networking/subnets/variables.tf
  terraform/azure/modules/networking/vnet/main.tf
  terraform/azure/modules/networking/vnet/outputs.tf
  terraform/azure/modules/networking/vnet/variables.tf
  terraform/azure/modules/resource-group/main.tf
  terraform/azure/modules/resource-group/outputs.tf
  terraform/azure/modules/resource-group/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

added terraform workspace run bash script
  terraform/azure/projects/project-3-apps/locals.tf
  terraform/azure/projects/project-3-apps/main.tf
  terraform/azure/projects/project-3-apps/outputs.tf
  terraform/azure/projects/project-3-apps/variables.tf
  terraform/azure/projects/project-3-apps/versions.tf
  terraform/scripts/terraform.sh
Due: azure-pipelines/terraform-provisioning.yml

added dns and nsg modules definitions to terraform
  terraform/azure/modules/key-vault/main.tf
  terraform/azure/modules/networking/dns/main.tf
  terraform/azure/modules/networking/dns/variables.tf
  terraform/azure/modules/networking/ns-groups/main.tf
  terraform/azure/modules/networking/ns-groups/outputs.tf
  terraform/azure/modules/networking/ns-groups/variables.tf
  terraform/azure/projects/project-3-apps/locals.tf
  terraform/azure/projects/project-3-apps/main.tf
  terraform/azure/projects/project-3-apps/outputs.tf
  terraform/azure/projects/project-3-apps/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

changes to networking + added storage account in terraform
  terraform/azure/modules/app-service/main.tf
  terraform/azure/modules/app-service/outputs.tf
  terraform/azure/modules/app-service/variables.tf
  terraform/azure/modules/key-vault/main.tf
  terraform/azure/modules/networking/dns/main.tf
  terraform/azure/modules/networking/dns/output.tf
  terraform/azure/modules/networking/dns/variables.tf
  terraform/azure/modules/networking/ns-groups/main.tf
  terraform/azure/modules/networking/ns-groups/variables.tf
  terraform/azure/modules/networking/subnets/main.tf
  terraform/azure/modules/networking/subnets/variables.tf
  terraform/azure/modules/storage-account/main.tf
  terraform/azure/modules/storage-account/outputs.tf
  terraform/azure/modules/storage-account/variables.tf
  terraform/azure/projects/project-3-apps/locals.tf
  terraform/azure/projects/project-3-apps/main.tf
  terraform/azure/projects/project-3-apps/outputs.tf
  terraform/azure/projects/project-3-apps/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

not polished changes to azure terraform
  terraform/azure/modules/databases/mysql/main.tf
  terraform/azure/modules/databases/mysql/output.tf
  terraform/azure/modules/databases/mysql/variables.tf
  terraform/azure/modules/key-vault/main.tf
  terraform/azure/modules/key-vault/outputs.tf
  terraform/azure/modules/key-vault/variables.tf
  terraform/azure/modules/networking/dns/main.tf
  terraform/azure/modules/networking/dns/output.tf
  terraform/azure/modules/networking/dns/variables.tf
  terraform/azure/modules/networking/subnets/main.tf
  terraform/azure/modules/networking/subnets/outputs.tf
  terraform/azure/modules/networking/subnets/variables.tf
  terraform/azure/modules/storage-account/main.tf
  terraform/azure/projects/project-3-apps/locals.tf
  terraform/azure/projects/project-3-apps/main.tf
  terraform/azure/projects/project-3-apps/outputs.tf
  terraform/azure/projects/project-3-apps/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

terraform aws ec2 project
  terraform/aws/modules/app-runner/main.tf
  terraform/aws/modules/networking/main.tf
  terraform/aws/modules/networking/outputs.tf
  terraform/aws/modules/networking/security-group/main.tf
  terraform/aws/modules/networking/security-group/outputs.tf
  terraform/aws/modules/networking/security-group/variabales.tf
  terraform/aws/modules/networking/subnet/main.tf
  terraform/aws/modules/networking/subnet/outputs.tf
  terraform/aws/modules/networking/subnet/variables.tf
  terraform/aws/modules/networking/variables.tf
  terraform/aws/modules/s3/main.tf
  terraform/aws/modules/s3/variables.tf
  terraform/aws/projects/ec2/locals.tf
  terraform/aws/projects/ec2/main.tf
  terraform/aws/projects/ec2/outputs.tf
  terraform/aws/projects/ec2/variables.tf
  terraform/aws/projects/ec2/versions.tf
  terraform/aws/projects/project-3-apps/locals.tf
  terraform/aws/projects/project-3-apps/main.tf
  terraform/aws/projects/project-3-apps/notes.md
  terraform/aws/projects/project-3-apps/outputs.tf
  terraform/aws/projects/project-3-apps/variables.tf
  terraform/aws/projects/project-3-apps/versions.tf
  terraform/scripts/terraform.sh
Due: azure-pipelines/terraform-provisioning.yml

terraform aws app runner
  terraform/aws/modules/app-runner/main.tf
  terraform/aws/modules/app-runner/outputs.tf
  terraform/aws/modules/app-runner/variables.tf
  terraform/aws/modules/ecr/main.tf
  terraform/aws/modules/ecr/outputs.tf
  terraform/aws/modules/ecr/variables.tf
  terraform/aws/modules/ecr/versions.tf
  terraform/aws/modules/networking/main.tf
  terraform/aws/modules/networking/subnet/main.tf
  terraform/aws/projects/ec2/main.tf
  terraform/aws/projects/ecr/locals.tf
  terraform/aws/projects/ecr/main.tf
  terraform/aws/projects/ecr/outputs.tf
  terraform/aws/projects/ecr/variables.tf
  terraform/aws/projects/ecr/versions.tf
  terraform/scripts/terraform.sh
Due: azure-pipelines/terraform-provisioning.yml

terraform aws ecr project final
  terraform/aws/modules/app-runner/main.tf
  terraform/aws/modules/ecr/main.tf
  terraform/aws/modules/ecr/outputs.tf
  terraform/aws/modules/ecr/versions.tf
  terraform/aws/modules/networking/main.tf
  terraform/aws/modules/networking/outputs.tf
  terraform/aws/modules/networking/security-group/main.tf
  terraform/aws/modules/networking/security-group/outputs.tf
  terraform/aws/modules/networking/security-group/variabales.tf
  terraform/aws/modules/networking/subnet/main.tf
  terraform/aws/modules/networking/variables.tf
  terraform/aws/modules/prometheus/main.tf
  terraform/aws/modules/prometheus/outputs.tf
  terraform/aws/modules/prometheus/variables.tf
  terraform/aws/projects/ar-amp-amg/main.tf
  terraform/aws/projects/ar-amp-amg/outputs.tf
  terraform/aws/projects/ar-amp-amg/prometheus.yml
  terraform/aws/projects/ar-amp-amg/variables.tf
  terraform/aws/projects/ar-amp-amg/versions.tf
  terraform/aws/projects/ecr/locals.tf
  terraform/aws/projects/ecr/main.tf
  terraform/aws/projects/ecr/outputs.tf
  terraform/aws/projects/ecr/variables.tf
  terraform/aws/projects/subnets/main.tf
Due: azure-pipelines/terraform-provisioning.yml

.gitignore change
  .gitignore
Due: none

vagrant ansible local vm testing success
  .gitignore
  vagrant/local-cluster/Vagrantfile
  vagrant/local-cluster/Vagrantfile-new
  vagrant/local-cluster/configs/docker/cri-docker.service
  vagrant/local-cluster/configs/docker/cri-docker.socket
  vagrant/local-cluster/k8s-control-plane-node-setup.sh
  vagrant/local-cluster/k8s-worker-node-setup.sh
  vagrant/local-cluster/nodes-shared-setup.sh
  vagrant/local-cluster/utils/required-packages.txt
  vagrant/single-vm/Vagrantfile
  vagrant/single-vm/scripts/setup-master.sh
  vagrant/single-vm/scripts/setup-worker.sh
  vagrant/single-vm/utils/ansible-playbooks/playbook-1.yml
  vagrant/single-vm/utils/ansible-playbooks/playbook-3.yml
Due: none

vagrant ansible changes to provision scrips
  vagrant/single-vm/scripts/setup-master.sh
  vagrant/single-vm/scripts/setup-worker.sh
Due: none

vagrant ansible added custom testing role
  .gitignore
  vagrant/single-vm/utils/ansible/playbooks/playbook-1.yml
  vagrant/single-vm/utils/ansible/playbooks/playbook-3.yml
  vagrant/single-vm/utils/ansible/playbooks/playbook-run-role.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/README.md
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/defaults/main.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/handlers/main.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/meta/main.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/tasks/main.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/tests/inventory
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/tests/test.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/vars/main.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/vars/ntp.conf.j2
Due: none

app/monitoring/prom commented out registry
  app/monitor/prometheus_monitoring.py
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml

ansible additions
  ansible/destroy.yml
  ansible/group_vars/common.yml
  ansible/roles/azure/README.md
  ansible/roles/azure/defaults/main.yml
  ansible/roles/azure/handlers/main.yml
  ansible/roles/azure/meta/main.yml
  ansible/roles/azure/tasks/main.yml
  ansible/roles/azure/tests/inventory
  ansible/roles/azure/tests/test.yml
  ansible/roles/azure/vars/main.yml
  ansible/site.yml
  vagrant/single-vm/Vagrantfile
  vagrant/single-vm/scripts/setup-master.sh
  vagrant/single-vm/scripts/setup-worker.sh
  vagrant/single-vm/utils/ansible/playbooks/playbook-1.yml
  vagrant/single-vm/utils/ansible/playbooks/playbook-3.yml
  vagrant/single-vm/utils/ansible/playbooks/playbook-run-role.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/README.md
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/defaults/main.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/handlers/main.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/meta/main.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/tasks/main.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/tests/inventory
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/tests/test.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/vars/main.yml
  vagrant/single-vm/utils/ansible/roles/learnansible-example-role/vars/ntp.conf.j2
Due: none

addeed libvirt folder with vms creation script
  .gitignore
  ansible/roles/azure/tests/test.yml
  libvirt/create-vm.sh
  libvirt/virt-install-notes.md
Due: none

refactored libvirt/create-vm script to accept values from YAML-file
  libvirt/create-vm.sh
  libvirt/values.yml
Due: none

added golden disk cleaning for a unique IP receiving
  libvirt/create-vm.sh
Due: none

add vpn setup with strongswan
  vpn/strongswan-ipsec/Installation-notes-client.md
  vpn/strongswan-ipsec/Installation-notes-server.md
  vpn/strongswan-ipsec/examples/host-to-host/client-right.conf
  vpn/strongswan-ipsec/examples/host-to-host/server-left.conf
  vpn/strongswan-ipsec/generate-certs-server.sh
Due: none

extended libvirt vm creation script witch custom network setup
  libvirt/create-vm.sh
Due: none
