Repository alakaganaguathoork/local-business-open-api-project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml, azure-pipelines/eks-automode.yml, azure-pipelines/eks.yml, azure-pipelines/terraform-provisioning.yml

Path conditions:
  azure-pipelines/azure-webapp.yml: any of: app, azure-pipelines/templates, azure-pipelines/azure-webapp.yml
  azure-pipelines/build-dockerfile.yml: any of: app, azure-pipelines/build-dockerfile.yml, Dockerfile, docker-compose.yml
  azure-pipelines/eks-automode.yml: any of: azure-pipelines/eks-automode.yml, azure-pipelines/templates
  azure-pipelines/eks.yml: any of: azure-pipelines/eks.yml, azure-pipelines/templates
  azure-pipelines/terraform-provisioning.yml: any of: terraform, azure-pipelines/terraform-provisioning.yml

Refactor app's helm chart to support environments #4
  kubernetes/helm/application-aws.yaml
Due: none

Change azure pipelines template
  azure-pipelines/templates/kubernetes/helm/argocd.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks-automode.yml, azure-pipelines/eks.yml

Fix argocd helper for aws helm release
  kubernetes/helm/helpers/argocd/argocd-custom-values-aws.yaml
Due: none

Fix argocd helper for aws helm release #2
  kubernetes/helm/helpers/argocd/argocd-custom-values-aws.yaml
Due: none

Fix argocd helper for aws helm release #3
  kubernetes/helm/helpers/argocd/argocd-custom-values-aws.yaml
Due: none

Fix argocd helper for aws helm release #4
  kubernetes/helm/charts/local-business/templates/service.yaml
  kubernetes/helm/helpers/argocd/argocd-custom-values-aws.yaml
Due: none

Fix argocd helper for aws helm release #5
  kubernetes/helm/charts/local-business/Chart.yaml
  kubernetes/helm/charts/local-business/templates/_helpers.tpl
Due: none

Fix argocd helper for aws helm release #6
  kubernetes/helm/charts/local-business/values-aws.yaml
Due: none

Fix argocd helper for aws helm release #6
  kubernetes/helm/charts/local-business/Chart.yaml
Due: none

Fix argocd helper for aws helm release #7
  kubernetes/helm/charts/local-business/templates/ingress.yaml
Due: none

Fix argocd helper for aws helm release #8
  kubernetes/helm/charts/local-business/Chart.yaml
Due: none

Fix argocd helper for aws helm release #9
  kubernetes/helm/charts/local-business/templates/ingress.yaml
Due: none

Fix argocd helper for aws helm release #10
  kubernetes/helm/charts/local-business/templates/ingress.yaml
Due: none

Fix argocd helper for aws helm release #11
  kubernetes/helm/charts/local-business/templates/ingress.yaml
Due: none

Fix argocd helper for aws helm release #12
  kubernetes/helm/charts/local-business/templates/ingress.yaml
Due: none

Fix argocd helper for aws helm release #13
  kubernetes/helm/charts/local-business/templates/ingress.yaml
Due: none

Fix argocd helper for aws helm release #14
  kubernetes/helm/charts/local-business/templates/ingress.yaml
Due: none

Fix argocd helper for aws helm release #15
  kubernetes/helm/charts/local-business/Chart.yaml
Due: none

Add minikube cluster bootstrap script
  minikube.sh
Due: none

Add minikube cluster bootstrap script #2
  minikube.sh
Due: none

Add ArgoCD admin pass generation in pipelines
  azure-pipelines/Readme.md
  azure-pipelines/eks-automode.yml
  azure-pipelines/eks.yml
  azure-pipelines/templates/kubernetes/helm/argocd.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks-automode.yml, azure-pipelines/eks.yml

Add kubernetes app annotation to deployment
  kubernetes/helm/charts/local-business/templates/deployment.yaml
Due: none

Add custom values.yaml files for services helm charts
  kubernetes/helm/helpers/argocd/Notes.md
  kubernetes/helm/helpers/argocd/argocd-custom-values-aws.yaml
  kubernetes/helm/helpers/argocd/argocd-custom-values-local.yaml
  kubernetes/helm/helpers/grafana/Notes.md
  kubernetes/helm/helpers/grafana/grafana-custom-values-aws.yaml
  kubernetes/helm/helpers/grafana/grafana-custom-values-local.yaml
  kubernetes/helm/helpers/prometheus/Notes.md
  kubernetes/helm/helpers/prometheus/prom-custom-values-aws.yaml
  kubernetes/helm/helpers/prometheus/prom-custom-values-local.yaml
Due: none

Update eks-automode.yml pipeline to install prometheus
  azure-pipelines/eks-automode.yml
  azure-pipelines/templates/kubernetes/helm/prometheus.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks-automode.yml, azure-pipelines/eks.yml

Change terraform aws eks-automode project to include services helm releases
  terraform/aws/projects/eks-automode/helm-releases.tf
  terraform/aws/projects/eks-automode/main.tf
  terraform/aws/projects/eks-automode/modules/helm_release/locals.tf
  terraform/aws/projects/eks-automode/modules/helm_release/main.tf
  terraform/aws/projects/eks-automode/modules/ingress/main.tf
  terraform/aws/projects/eks-automode/outputs.tf
  terraform/aws/projects/eks-automode/versions.tf
Due: azure-pipelines/terraform-provisioning.yml

Add test .terraformignore file
  .terraformignore
Due: none

Add .terraformignore for aws
  .terraformignore
  terraform/aws/.terraformignore
Due: azure-pipelines/terraform-provisioning.yml

Fix terraform aws eks-automode project
  terraform/aws/projects/eks-automode/main.tf
  terraform/aws/projects/eks-automode/modules/ingress/main.tf
  terraform/aws/projects/eks-automode/modules/ingress/variables.tf
  terraform/aws/projects/eks-automode/outputs.tf
  terraform/aws/projects/eks-automode/versions.tf
Due: azure-pipelines/terraform-provisioning.yml

Fix .terraformingore files
  .terraformignore
  terraform/aws/.terraformignore
Due: azure-pipelines/terraform-provisioning.yml

Fix .gitignore
  .gitignore
Due: none

Fix aws .terraformignore
  terraform/aws/.terraformignore
Due: azure-pipelines/terraform-provisioning.yml

Fix .terraformignore
  .terraformignore
Due: none

Delete .terraformignore files
  .terraformignore
  terraform/aws/.terraformignore
Due: azure-pipelines/terraform-provisioning.yml

Change terraform aws eks-automode project
  terraform/aws/projects/eks-automode/helm-releases.tf
  terraform/aws/projects/eks-automode/main.tf
  terraform/aws/projects/eks-automode/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

Change terraform aws eks-automode project
  terraform/aws/projects/eks-automode/main.tf
Due: azure-pipelines/terraform-provisioning.yml

Remove trigger from eks-automode.yml pipeline
  azure-pipelines/Readme.md
  azure-pipelines/eks-automode.yml
Due: azure-pipelines/eks-automode.yml
