Repository alakaganaguathoork/local-business-open-api-project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml, azure-pipelines/eks.yml, azure-pipelines/terraform-provisioning.yml

azure-pipelines/azure-webapp.yml:
  name: appDeploy-$(Date:yyyy-MM-dd)$(Rev:.r)
  pool:
    name: Local
  stages:
  - stage: GatherInfo
    displayName: Gather apps info
    variables:
    - group: Main
    jobs:
    - job: GetAppDataJob
      displayName: Get apps data
      steps:
      - task: AzureCLI@2
        name: GetAppDataTask
  ...

azure-pipelines/build-dockerfile.yml:
  name: dockerBuild-$(Date:yyyy-MM-dd)$(Rev:.r)
  pool:
    name: Local
  stages:
  - stage: DockerImageBuildAndPush
    displayName: Build and push Docker image
    jobs:
    - job: DockerBuildPush
      steps:
      - task: Docker@2
        name: DockerLogin
        displayName: Login to Docker Hub
        inputs:
  ...

azure-pipelines/eks.yml:
  name: eks-$(Date:yyyy-MM-dd)$(Rev:.r)
  pool:
    name: Local
  stages:
  - stage: EchoJobRoot
    displayName: Show job root
    jobs:
    - job: Deploy
      workspace:
        clean: all
      displayName: Deploy Application
      steps:
      - task: Bash@3
        displayName: Debug â€” Show working dir
        inputs:
  ...

azure-pipelines/terraform-provisioning.yml:
  name: infra-$(Date:yyyy-MM-dd)$(Rev:.r)
  pool:
    name: Local
  stages:
  - stage: Terraform_infra
    displayName: Terraform infrastucture provisioning
    variables:
    - group: ARM_
    jobs:
    - job: Terraform_Provisioning
      displayName: Provision Terraform Infra
      steps:
  ...

Test eks.yml
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Finally working eks.yml workflow
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Add templates to eks.yml workflow
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Add templates to eks.yml workflow
  azure-pipelines/templates/aws.yml
  azure-pipelines/templates/aws/job/delete-aws.yml
  azure-pipelines/templates/aws/job/insatll-aws.yml
Due: azure-pipelines/azure-webapp.yml

refactoring tempalates in eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/job/install-aws.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

refactoring templates in eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/job/insatll-aws.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

refactoring templates in eks.yml workflow
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

refactoring templates in eks.yml workflow
  azure-pipelines/templates/aws/job/delete-aws.yml
Due: azure-pipelines/azure-webapp.yml

refactoring templates in eks.yml workflow
  azure-pipelines/templates/aws/job/install-aws.yml
Due: azure-pipelines/azure-webapp.yml

refactoring templates in eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/job/install-aws.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor templates in eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/job/delete-aws.yml
  azure-pipelines/templates/aws/job/install-aws.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor templates in eks.yml workflow
  azure-pipelines/templates/aws/job/delete-aws.yml
Due: azure-pipelines/azure-webapp.yml

Refactor templates in eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/job/delete-aws.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor templates in eks.yml workflow
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Refactor azure devops pipelines templates
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/job/delete-aws.yml
  azure-pipelines/templates/aws/job/install-aws.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor azure devops pipelines templates
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Refactor azure devops pipelines templates
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/stages/delete-aws.yml
  azure-pipelines/templates/aws/stages/install-aws.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Path conditions:
  azure-pipelines/azure-webapp.yml: any of: app, azure-pipelines/templates, azure-pipelines/azure-webapp.yml
  azure-pipelines/build-dockerfile.yml: any of: app, azure-pipelines/build-docker.yml
  azure-pipelines/eks.yml: any of: azure-pipelines/eks.yml
  azure-pipelines/terraform-provisioning.yml: any of: terraform, azure-pipelines/terraform-provisioning.yml
