Repository alakaganaguathoork/local-business-open-api-project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml, azure-pipelines/eks.yml, azure-pipelines/terraform-provisioning.yml

azure-pipelines/azure-webapp.yml:
  name: appDeploy-$(Date:yyyy-MM-dd)$(Rev:.r)
  pool:
    name: Local
  stages:
  - stage: GatherInfo
    displayName: Gather apps info
    variables:
    - group: Main
    jobs:
    - job: GetAppDataJob
      displayName: Get apps data
      steps:
      - task: AzureCLI@2
        name: GetAppDataTask
  ...

azure-pipelines/build-dockerfile.yml:
  name: dockerBuild-$(Date:yyyy-MM-dd)$(Rev:.r)
  pool:
    name: Local
  stages:
  - stage: DockerImageBuildAndPush
    displayName: Build and push Docker image
    jobs:
    - job: DockerBuildPush
      steps:
      - task: Docker@2
        name: DockerLogin
        displayName: Login to Docker Hub
        inputs:
  ...

azure-pipelines/eks.yml:
  name: $(Date:yyyy-MM-dd)$(Rev:.r)-$(Build.SourceBranchName)
  pool:
    name: Local
  stages:
  - template: ./templates/aws/stages/install-aws.yml
    parameters:
      stageName: InstallAWSCLIv1
      installAWS: ${{ variables.installAWS }}
      awsCredentials: $(awsCredentials)
  ...

azure-pipelines/terraform-provisioning.yml:
  name: infra-$(Date:yyyy-MM-dd)$(Rev:.r)
  pool:
    name: Local
  stages:
  - stage: Terraform_infra
    displayName: Terraform infrastucture provisioning
    variables:
    - group: ARM_
    jobs:
    - job: Terraform_Provisioning
      displayName: Provision Terraform Infra
      steps:
  ...

Refactor pipelines scripts
  azure-pipelines/scripts/env/aws.sh
  azure-pipelines/scripts/env/kubectl.sh
  azure-pipelines/templates/setup-env.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor pipelines scripts
  azure-pipelines/templates/setup-env.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor pipelines scripts
  azure-pipelines/eks.yml
  azure-pipelines/scripts/env/aws.sh
  azure-pipelines/scripts/env/kubectl.sh
Due: azure-pipelines/eks.yml

Refactor pipelines scripts
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Refactor pipelines scripts
  azure-pipelines/eks.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
  azure-pipelines/templates/setup-env.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor pipelines scripts
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/jobs/configure.yml
  azure-pipelines/templates/aws/jobs/delete-aws.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/jobs/connect-to-eks.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor eks.yml workflow
  azure-pipelines/templates/aws/jobs/configure.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor eks.yml workflow
  azure-pipelines/templates/aws/jobs/configure.yml
  azure-pipelines/templates/azure-devops/jobs/setup-kubectl.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/aws/jobs/configure.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor eks.yml workflow
  azure-pipelines/templates/azure-devops/stages/install-kubectl.yml
  azure-pipelines/templates/azure-devops/stages/uninstall-kubectl.yml
  azure-pipelines/templates/kubernetes/stages/deploy-to-cluster.yml
  azure-pipelines/templates/setup-env.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor eks.yml workflow
  azure-pipelines/templates/setup-env.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor eks.yml workflow
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Refactor eks.yml workflow
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

ArgoCD changes
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Change pipelines script kubectl.sh
  azure-pipelines/scripts/env/kubectl.sh
Due: none

ArgoCD changes
  azure-pipelines/eks.yml
Due: azure-pipelines/eks.yml

Replace SG with a module in aws eks-automode project
  terraform/aws/projects/eks-automode/main.tf
  terraform/aws/projects/eks-automode/outputs.tf
  terraform/aws/projects/eks-automode/variables.tf
Due: azure-pipelines/terraform-provisioning.yml

Add Helm chart for the app
  kubernetes/helm/Readme.md
  kubernetes/helm/local-business/.helmignore
  kubernetes/helm/local-business/Chart.yaml
  kubernetes/helm/local-business/NOTES.txt
  kubernetes/helm/local-business/templates/deployment.yaml
  kubernetes/helm/local-business/templates/namespace.yml
  kubernetes/helm/local-business/templates/service.yml
  kubernetes/helm/local-business/values.yaml
Due: none

Add Helm chart for the app
  kubernetes/helm/Readme.md
Due: none

Changes to eks.yml pipeline
  azure-pipelines/eks.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Changes to eks.yml pipeline
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Add /health endpoint to the app
  app/local_business.py
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml

Change helm chart deployment,yaml > spec.replicas to 4
  kubernetes/helm/local-business/templates/deployment.yaml
Due: none

Change app's helm chart + .gitignore
  .gitignore
  kubernetes/helm/Readme.md
  kubernetes/helm/local-business/.helmignore
  kubernetes/helm/local-business/.sg-ids.output
  kubernetes/helm/local-business/templates/_helpers.tpl
  kubernetes/helm/local-business/templates/ingress.yaml
  kubernetes/helm/local-business/templates/load-balancer.yml
  kubernetes/helm/local-business/templates/node-port.yaml
  kubernetes/helm/local-business/values.yaml
Due: none

Change app's helm chart + .gitignore
  .gitignore
  kubernetes/helm/local-business/.sg-ids.output
Due: none

Add Azure Pipelines scripts + .gitignore + .helmignore
  azure-pipelines/scripts/.example.sh
  azure-pipelines/scripts/env/helm.sh
  kubernetes/helm/local-business/.helmignore
Due: none

Test app's Helm chart deploying in eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Test app's Helm chart deploying in eks.yml workflow
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Test app's Helm chart deploying in eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/kubernetes/helm/argocd.yml
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Test app's Helm chart deploying in eks.yml workflow
  azure-pipelines/eks.yml
  azure-pipelines/templates/kubernetes/helm/argocd.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Path conditions:
  azure-pipelines/azure-webapp.yml: any of: app, azure-pipelines/templates, azure-pipelines/azure-webapp.yml
  azure-pipelines/build-dockerfile.yml: any of: app, azure-pipelines/build-docker.yml
  azure-pipelines/eks.yml: any of: azure-pipelines/eks.yml, azure-pipelines/templates
  azure-pipelines/terraform-provisioning.yml: any of: terraform, azure-pipelines/terraform-provisioning.yml
