Repository alakaganaguathoork/local-business-open-api-project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml, azure-pipelines/eks-automode.yml, azure-pipelines/eks.yml, azure-pipelines/terraform-provisioning.yml

Path conditions:
  azure-pipelines/azure-webapp.yml: any of: app, azure-pipelines/templates, azure-pipelines/azure-webapp.yml
  azure-pipelines/build-dockerfile.yml: any of: app, azure-pipelines/build-dockerfile.yml, Dockerfile, docker-compose.yml
  azure-pipelines/eks-automode.yml: any of: azure-pipelines/eks-automode.yml, azure-pipelines/temptlates
  azure-pipelines/eks.yml: any of: azure-pipelines/eks.yml, azure-pipelines/templates
  azure-pipelines/terraform-provisioning.yml: any of: terraform, azure-pipelines/terraform-provisioning.yml

Restore the old setup for eks-automode.yml pipeline
  azure-pipelines/templates/kubernetes/jobs/deploy-to-cluster.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Refactor terraform aws eks-automode project
  kubernetes/helm/Readme.md
  terraform/aws/projects/eks-automode/main.tf
  terraform/aws/projects/eks-automode/outputs.tf
  terraform/aws/projects/eks-automode/versions.tf
Due: azure-pipelines/terraform-provisioning.yml

Add needed annotation to argocd helm command
  azure-pipelines/templates/kubernetes/helm/argocd.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Fix /logs ownership in docker container
  Dockerfile
Due: azure-pipelines/build-dockerfile.yml

Change imagePullPolicy in helm chart
  kubernetes/helm/charts/local-business/templates/deployment.yaml
Due: none

Change imagePullPolicy in helm chart
  kubernetes/helm/charts/local-business/Chart.yaml
Due: none

Fix permissions issue in Dockerfile
  Dockerfile
Due: azure-pipelines/build-dockerfile.yml

Change spec.replicas in helm chart deployment.yml
  kubernetes/helm/charts/local-business/templates/deployment.yaml
Due: none

Add monitoring to azure pipeline eks-automode.yml
  azure-pipelines/eks-automode.yml
  azure-pipelines/templates/kubernetes/helm/argocd.yml
  azure-pipelines/templates/kubernetes/helm/kube-prom-stack.yml
  azure-pipelines/templates/kubernetes/helm/prometheus.yml
  kubernetes/helm/helpers/prometheus/prom-custom-values.yaml
  kubernetes/helm/helpers/prometheus/stack-custom-values.yaml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks-automode.yml, azure-pipelines/eks.yml

Add monitoring to azure pipeline eks-automode.yml #2
  azure-pipelines/eks-automode.yml
  azure-pipelines/templates/kubernetes/helm/kube-prom-stack.yml
  kubernetes/helm/helpers/prometheus/stack-custom-values.yaml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks-automode.yml, azure-pipelines/eks.yml

Add monitoring to azure pipeline eks-automode.yml #3
  azure-pipelines/eks-automode.yml
  azure-pipelines/templates/kubernetes/helm/kube-prom-stack.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks-automode.yml, azure-pipelines/eks.yml

Add monitoring to azure pipeline eks-automode.yml #4
  kubernetes/helm/helpers/prometheus/stack-custom-values.yaml
Due: none

Add monitoring to azure pipeline eks-automode.yml #4
  azure-pipelines/eks-automode.yml
Due: azure-pipelines/eks-automode.yml

Add monitoring to azure pipeline eks-automode.yml #4
  azure-pipelines/eks-automode.yml
  kubernetes/helm/helpers/prometheus/stack-custom-values.yaml
Due: azure-pipelines/eks-automode.yml

Add monitoring to azure pipeline eks-automode.yml #5
  azure-pipelines/eks-automode.yml
  kubernetes/helm/helpers/prometheus/stack-custom-values.yaml
Due: azure-pipelines/eks-automode.yml

Fix /health response in app
  app/local_business.py
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/build-dockerfile.yml

Change service port to standard 80 in helm chart
  kubernetes/helm/charts/local-business/templates/load-balancer.yml
  kubernetes/helm/charts/local-business/templates/node-port.yaml
Due: none

Cleaning: add terraform aws sandbox project
  terraform/aws/projects/sandbox/main.tf
  terraform/aws/projects/sandbox/variables.tf
  terraform/aws/projects/sandbox/versions.tf
Due: azure-pipelines/terraform-provisioning.yml

Cleaning: fix terraform env script to support sandbox project
  terraform/scripts/terraform.sh
Due: azure-pipelines/terraform-provisioning.yml

Cleaning: add role for Loki in terraform aws eks-automode project
  terraform/aws/projects/eks-automode/Readme.md
  terraform/aws/projects/eks-automode/main.tf
  terraform/aws/projects/eks-automode/variables.tf
  terraform/aws/projects/eks/Readme.md
Due: azure-pipelines/terraform-provisioning.yml

Cleaning: add not-finished terraform aws projects
  terraform/aws/projects/_ar-amp-amg/main.tf
  terraform/aws/projects/_ar-amp-amg/outputs.tf
  terraform/aws/projects/_ar-amp-amg/prometheus.yml
  terraform/aws/projects/_ar-amp-amg/variables.tf
  terraform/aws/projects/_ar-amp-amg/versions.tf
  terraform/aws/projects/_ecr-not-finished/main.tf
  terraform/aws/projects/_ecr/locals.tf
  terraform/aws/projects/_ecr/main.tf
  terraform/aws/projects/_ecr/outputs.tf
  terraform/aws/projects/_ecr/variables.tf
  terraform/aws/projects/_ecr/versions.tf
  terraform/aws/projects/_project-3-apps/locals.tf
  terraform/aws/projects/_project-3-apps/main.tf
  terraform/aws/projects/_project-3-apps/notes.md
  terraform/aws/projects/_project-3-apps/outputs.tf
  terraform/aws/projects/_project-3-apps/variables.tf
  terraform/aws/projects/_project-3-apps/versions.tf
  terraform/aws/projects/_s3/Readme.md
  terraform/aws/projects/_s3/files/test.csv
  terraform/aws/projects/_s3/main.tf
  terraform/aws/projects/_s3/variables.tf
  terraform/aws/projects/_s3/versions.tf
Due: azure-pipelines/terraform-provisioning.yml

Cleaning: Fix terraform aws s3 module
  terraform/aws/modules/s3/main.tf
Due: azure-pipelines/terraform-provisioning.yml

Cleaning: Fix Grafana dashboard json
  monitoring/grafana/dashboards/main.json
  monitoring/prometheus/prometheus.yml
Due: none

Cleaning: some refactoring in libvirt
  libvirt/create-vm.sh
  libvirt/values.yml
Due: none

Cleaning: add loki.yml pipeline
  azure-pipelines/eks.yml
  azure-pipelines/scripts/env/helm.sh
  azure-pipelines/templates/kubernetes/helm/loki.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Cleaning: add loki-custom-values.yaml for helm chart installation
  kubernetes/helm/helpers/loki/loki-custom-values.yaml
Due: none

Cleaning: add kubernetes manifests for the app
  kubernetes/manifests/deployments/app.yml
  kubernetes/manifests/namespaces/app.yml
  kubernetes/manifests/services/lb.yml
Due: none

Cleaning: terraform aws eks Readme.md fix
  terraform/aws/projects/eks/Readme.md
Due: azure-pipelines/terraform-provisioning.yml

Cleaning: delete old files
  kubernetes/helm/repos/local-business/index.yaml
  kubernetes/helm/repos/local-business/local-business-0.1.0.tgz
  terraform/aws/projects/ar-amp-amg/main.tf
  terraform/aws/projects/ar-amp-amg/outputs.tf
  terraform/aws/projects/ar-amp-amg/prometheus.yml
  terraform/aws/projects/ar-amp-amg/variables.tf
  terraform/aws/projects/ar-amp-amg/versions.tf
  terraform/aws/projects/ecr/locals.tf
  terraform/aws/projects/ecr/main.tf
  terraform/aws/projects/ecr/outputs.tf
  terraform/aws/projects/ecr/variables.tf
  terraform/aws/projects/ecr/versions.tf
  terraform/aws/projects/project-3-apps/locals.tf
  terraform/aws/projects/project-3-apps/main.tf
  terraform/aws/projects/project-3-apps/notes.md
  terraform/aws/projects/project-3-apps/outputs.tf
  terraform/aws/projects/project-3-apps/variables.tf
  terraform/aws/projects/project-3-apps/versions.tf
  terraform/aws/projects/subnets/main.tf
Due: azure-pipelines/terraform-provisioning.yml

Change service type in app helm chart and include ingress
  kubernetes/helm/charts/local-business/templates/ingress.yaml
  kubernetes/helm/charts/local-business/values.yaml
Due: none

Change service type in app helm chart and include ingress
  kubernetes/helm/charts/local-business/Chart.yaml
Due: none

Remove argocd installation for testing from argocd.yml template
  azure-pipelines/templates/kubernetes/helm/argocd.yml
Due: azure-pipelines/azure-webapp.yml, azure-pipelines/eks.yml

Add Ingress to app's helm chart
  kubernetes/helm/charts/local-business/templates/ingress.yaml
  kubernetes/helm/charts/local-business/templates/ingressClass.yaml
Due: none

Add Ingress to app's helm chart
  azure-pipelines/eks-automode.yml
Due: azure-pipelines/eks-automode.yml

Refactor app's helm chart to support environments
  kubernetes/helm/charts/local-business/templates/_helpers.tpl
  kubernetes/helm/charts/local-business/templates/ingress.yaml
  kubernetes/helm/charts/local-business/templates/ingressClass.yaml
  kubernetes/helm/charts/local-business/templates/load-balancer.yml
  kubernetes/helm/charts/local-business/templates/node-port.yaml
  kubernetes/helm/charts/local-business/templates/service.yaml
  kubernetes/helm/charts/local-business/values-aws.yaml
  kubernetes/helm/charts/local-business/values.yaml
Due: none

Refactor app's helm chart to support environments #2
  kubernetes/helm/application.yaml
  kubernetes/helm/helpers/argocd/argocd-custom-values-aws.yaml
  kubernetes/helm/helpers/argocd/argocd-custom-values-local.yaml
Due: none

Refactor app's helm chart to support environments #3
  kubernetes/helm/charts/local-business/Chart.yaml
Due: none
